<template>
<div class="block">
    <div class="block-header bg-gray-lighter">
        <h3 class="block-title">Direccion de servicio</h3>
    </div>
    <div class="block-content">
        <div class="row">
            <div class="col-lg-6">
                <!-- Billing Address -->
                <div class="block block-bordered">
                    <div class="block-header">
                        <h3 class="block-title">
                           	<label class="css-input css-radio css-radio-lg css-radio-primary push-10-r">
                                <input type="radio" name="type_address" checked="" value="client->addresses->first()->id }}"><span></span>
                        		Direccion Actual
                            </label>
                        </h3>
                    </div>
                    <div class="block-content block-content-full">
                        <div class="h4 push-5">client->business_name</div>
                        <address>                        	
                            <p v-text="Address"></p><br><br>
                            <i class="fa fa-phone"></i> client->mobil<br>
                        </address>
                    </div>
                </div>
                <!-- END Billing Address -->
            </div>
            <div class="col-lg-6">
                <!-- Shipping Address -->
                <div class="block block-bordered">
                    <div class="block-header">
                        <h3 class="block-title">
                        	<label class="css-input css-radio css-radio-lg css-radio-primary push-10-r">
                                <input type="radio" name="type_address" value="0"><span></span>
                        		Otra direccion
                            </label>
                        </h3>
                    </div>
                    <div class="block-content block-content-full">
                        <div class="row">
                        	<div class="col-md-6">{!! Field::text('person_contact') !!}</div>
                        	<div class="col-md-6">{!! Field::text('mobil') !!}</div>
                        </div>
                        
                        <div class="row">
                        	<div class="col-md-6">{!! Field::select('state_id', $states) !!}</div>
                        	<div class="col-md-6">{!! Field::select('city_id') !!}</div>
                        </div>

                        {!! Field::textarea('address', ['rows' => 2]) !!}
                    </div>
                </div>
                <!-- END Shipping Address -->
            </div>
        </div>
    </div>
</div>
</template>


<script>
    export default {
        props: ['Address'],
        mounted() {
            console.log('Component mounted.')
        },
        data(){
            return [
                {address: 'Hola'}
            ]
        }
    }
</script>