<template>
	<div id="field_fail" class="form-group">
			<label for="fail" class="control-label">
	        	Falla presente
	    	</label> 
	    <div class="controls">
	    	<input id="fail" name="vue" type="text" class="form-control">
	    </div>
    </div>
</template>