<template>
	<table class="table table-condensed table-bordered">
		<thead>
			<tr>
				<th><button class="btn btn-success btn-xs" @click="addItem">Add</button></th>
				<th>Partida</th>
				<th>Descripcion</th>
				<th>Cantidad</th>
				<th>P/U</th>
				<th>Sub Total</th>
				<th><i class="si si-close"></i></th>
			</tr>
		</thead>
		<tbody>
			<tr is="table-items-presupuesto" v-for="presupuesto in presupuestos" :presupuesto="presupuesto"></tr>
			<tr>
				<th colspan="5" class="text-right">Total</th>
				<td>5000</td>
			</tr>
		</tbody>
	</table>
</template>

<script>
export default {
        data(){
        	return {
        		presupuestos: [{
        			partida: 1,
        			description: 'Mano de obra',
        			cantidad: 2,
        			precio: 2500,
        		},
        		{
        			partida: 2,
        			description: 'Revision',
        			cantidad: 2,
        			precio: 5000,
        		}]
        	}
        },
        computed: {
        	total: function(){
        		
        	}
        },
        methods: {
        	addItem: function(){
        		this.presupuestos.push({
        			partida: '',
        			description: '',
        			cantidad: '',
        			precio: '',
        		})
        	}
        }
    }	
</script>