<template>
	<tr v-if="editing">
		<td></td>
		<td>{{ presupuesto.partida }}</td>
		<td>
			<input type="text" class="form-control input-sm" v-model="presupuesto.description">
		</td>
		<td>
			<input type="text" class="form-control input-sm" v-model="presupuesto.cantidad">
		</td>
		<td>
			<input type="text" class="form-control input-sm" v-model="presupuesto.precio">
		</td>
		<td>
			{{ subTotal }}
		</td>
		<td>
			<button class="btn btn-primary btn-xs" @click="edit(false)"><i class="fa fa-save" ></i></button>
		</td>
	</tr>
	<tr v-else>
		<td>
			<button class="btn btn-default btn-xs"  @click="trash"><i class="fa fa-trash"></i></button>
		</td>
		<td>{{ presupuesto.partida }}</td>
		<td>{{ presupuesto.description }}</td>
		<td>{{ presupuesto.cantidad }}</td>
		<td>{{ presupuesto.precio }}</td>
		<td>{{ subTotal }}</td>
		<td>
			<button class="btn btn-success btn-xs"  @click="edit(true)"><i class="fa fa-edit"></i></button>
		</td>
	</tr>
</template>

<script>
export default {
	props: ['presupuesto'],
	data(){
		return {
			editing: false
		}
	},
	computed: {
		subTotal: function(){
			return this.presupuesto.precio * this.presupuesto.cantidad;
		}
	},
	methods: {
		edit: function(v){
			this.editing = v
		},
		trash: function(){

		}
	}
}
</script>